footer
  #qunit
  #qunit-fixture
  .container.text-center
    p.pull-left © 2015 IS219 - NJIT, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://njit.edu') NJIT
      li
        a(href='http://davidguardia.com') David Guardia