extends layout
block content
    .row
        .col-md-6
            table.table.table-bordered.text-left
                thead
                    h3.alert-info.text-center.well-lg #{title} Details
                each val, key in college
                    tr
                        td.lead=key
                        td=val
        .col-md-5.col-md-offset-1
            table.table.table-bordered.text-left
                thead
                    h3.alert-info.text-center.well-lg College Gender Distribution
                    tr
                        p.lead Gender Info Percentage

                    tr
                        #donut.label-success
                        script(src='/js/lib/c3.min.js')
                        script(src='/js/lib/d3.min.js')
                        script(src='/js/lib/visuals.js')
                    tr

                        p.lead Gender Information Numbers

                    tr
                        #chart.label-info

                    tr
                        p.lead Enrollment Data
                        #tuitionchart.label-success

