extends layout
block content
    .row
        .col-md-6
            table.table.table-bordered.text-left
                thead
                    h3.alert-info.text-center.well-lg #{title} Details
                each val, key in college
                    tr
                        td.lead=key
                        td=val
        .col-md-5.col-md-offset-1
            table.table.table-bordered.text-left
                thead
                    h3.alert-info.text-center.well-lg College Gender Distribution
                    tr
                        #donut.label-success
                    tr
                        p.lead College Information Numbers
                    tr
                        #chart.label-info

