extends layout

block content
  h1.text-center
    i.fa.fa-paw
    | Visualization Project
    p.lead This project for IS219 - NJIT 2015 Spring
  hr
  .row
    .col-sm-6
      h2.text-center
        i.fa.fa-info
        | College Information
      p.text-center  From here you will get to the list of Colleges
      p.text-center
        a.btn.btn-default(href='/colleges', role='button') View details »
    .col-sm-6
      h2.text-center
        i.fa.fa-bar-chart
        | Top 10 Colleges
      p.text-center The list of the top 10 colleges
      p.text-center
        a.btn.btn-default(href='/topcolleges', role='button') View details »