extends layout

block content
  h1 Visualization Project
  p.lead This project for IS219 - NJIT 2015 Spring
  hr
  .row
    .col-sm-6
      h2 College Information
      p From here you will get to the list of Colleges
      p
        a.btn.btn-default(href='/colleges', role='button') View details »
    .col-sm-6
      h2 Top 10 Colleges
      p The list of the top 10 colleges
      p
        a.btn.btn-default(href='/topcolleges', role='button') View details »